@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-600;
        @apply text-white;

        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
            'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body,
    html {
        height: 100%;
    }

    #root {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@layer components {
    :root {
        --page-width: 700px;
        --page-height: 905.5px;
    }

    .worksheet {
        @apply flex flex-col em:gap-6 items-center em:p-6;
        font-size: 16px;
    }

    /* .day {
        @apply flex flex-col em:gap-12 items-center em:p-6 em:mb-6;
        min-width: var(--page-width);
    }

    .day.empty {
        @apply bg-gray-900 drop-shadow-2xl;
    } */

    .pdf-page {
        font-size: 19px;
    }

    .pdf-page .period {
        page-break-inside: inside;
        width: 215.9mm;
        height: 279.4mm;
    }

    /* .period {
        @apply bg-gray-900 drop-shadow-2xl box-border;
    } */

    /* .period > .header {
        @apply flex items-center em:gap-6 em:mb-1;
    }
    .period > .header > .title {
        @apply flex-1 tracking-[.3em] em:text-lg;

        text-transform: uppercase;
    }

    .period > .header > .period-square {
        @apply em:w-14 em:h-14 em:text-lg font-bold flex items-center justify-center bg-red-500;
    } */

    /* .section {
        @apply em:mb-2 flex flex-col items-center;
    }

    .section > .title {
        @apply bg-red-500 em:px-3 em:py-3 em:text-base min-w-[250px] text-center;
    }
    .section .block-separator {
        @apply border-t-[1px] border-gray-700 em:w-20;
    } */

    /* .block {
        @apply em:text-sm em:m-2 em:p-2 flex items-center relative;
    }

    .block.empty {
        min-height: 50px;
        min-width: 100px;
    }

    .block > .info {
        @apply bg-gray-800 em:p-3 em:text-sm em:mr-6;
        position: absolute;
        width: 180px;
        right: 100%;
    }
    .block .title {
        @apply font-bold text-sm bg-gray-700 px-3 py-1;
    }
    .block > .info:after {
        content: '';

        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid theme('colors.gray.700');
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -20px;
    } */

    .movement {
    }
    .movement.withUrl {
        text-decoration: underline;
    }

    .icon-btn {
        color: white;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        @apply bg-red-700;
    }

    .icon-btn:hover {
        @apply bg-red-900;
    }

    .hoverable > .icon-btn {
        position: absolute;
        display: none;
        z-index: 999;
        left: 50%;
    }

    .hoverable > .icon-btn.remove {
        right: -14px;
        top: -14px;
        left: initial;
    }

    .hoverable > .icon-btn.updateMovement {
        right: -14px;
        top: 50%;
        left: initial;
        margin-top: -14px;
    }

    .hoverable > .icon-btn.add {
        margin-left: 22px;
    }

    .hoverable > .icon-btn.move {
        margin-left: -14px;
    }

    .hoverable > .icon-btn.duplicate {
        margin-left: -50px;
    }

    .hoverable > .icon-btn.top {
        top: -14px;
    }
    .hoverable > .icon-btn.bottom {
        bottom: -14px;
    }

    .hoverable.selected > .icon-btn {
        display: flex;
    }

    .hoverable {
        position: relative;
    }

    .hoverable:hover {
        outline: 2px solid theme('colors.red.700');
        outline-offset: -2px;
        cursor: pointer;
    }
    .hoverable.selected {
        outline: 2px solid theme('colors.red.700');
        outline-offset: -2px;
        cursor: pointer;
    }

    .input {
        @apply font-sans;
        @apply text-sm;
        @apply text-gray-500;
        @apply rounded-sm;
        padding: 5px 12px;
    }
    .input:focus {
        outline: 3px solid;
        @apply outline-red-700 outline-offset-2;
    }
    .input.input-full {
        width: 100%;
    }

    .paper {
        @apply p-6 bg-gray-900 rounded-lg;
    }

    .btn {
        @apply px-4 py-1 bg-gray-900 rounded-md text-base;
    }

    .btn:hover {
        @apply bg-gray-700;
    }
    .btn.btn-light {
        @apply bg-gray-500;
    }
    .btn.btn-light:disabled {
        @apply bg-gray-300;
    }
    .btn.btn-light:hover {
        @apply bg-gray-400;
    }

    .btn.btn-main {
        @apply bg-red-500;
    }
    .btn.btn-main:disabled {
        @apply bg-red-300;
    }
    .btn.btn-main:not(:disabled):hover {
        @apply bg-red-400;
    }

    .section-title {
        @apply text-xl pb-1;
        border-bottom: 2px solid theme('colors.gray.100');
        color: theme('colors.gray.700');
        font-weight: bold;
    }

    input.removeArrows::-webkit-outer-spin-button,
    input.removeArrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tiptap {
    @apply bg-white;
    border-radius: 6px;
    padding: 3px 5px;
    color: black;
    min-height: 100px;
    padding-top: 50px;
    outline: none;
}

ul.editor-list {
    list-style: disc;
    padding-left: 1.2em;
}

h1.editor-heading {
    font-size: 1.5em;
    font-weight: bold;
}
h2.editor-heading {
    font-size: 1.2em;
    font-weight: bold;
}
